<mat-card>
  <mat-card-title class="center">
    Automatyczne uzupełnianie kwoty doładowania kart w pliku bankowym
  </mat-card-title>
</mat-card>

<mat-card>
  <mat-card-actions>
    <button type="button"
            mat-raised-button
            [disabled]="cards"
            (click)="topupOrders.click()">
      Wybierz plik excel z zamówieniami
    </button>
    <input #topupOrders
           type="file"
           (change)="readTopupOrders($event)"
           [multiple]="false"
           [accept]="'.xlsx'"
           hidden/>
    <mat-icon *ngIf="cards">check_circle_outline</mat-icon>
  </mat-card-actions>
  <mat-card-content>
    <p *ngIf="cards">
      Ilość kart do zasilenia: <strong>{{ cards.length }}</strong>
    </p>
    <p *ngIf="cards">
      Łączna kwota do zasilenia: <strong>{{ getTotalTopupAmonut() }} zł</strong>
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-actions>
    <button type="button"
            mat-raised-button
            [disabled]="bankEntries"
            (click)="bankEntriesButton.click()">
      Wybierz plik tekstowy z kartami
    </button>
    <input #bankEntriesButton
           type="file"
           (change)="readCardsFile($event)"
           [multiple]="false"
           [accept]="'.txt'"
           hidden/>
    <mat-icon *ngIf="bankEntries">check_circle_outline</mat-icon>
  </mat-card-actions>
  <mat-card-content>
    <p *ngIf="bankEntries">
      Ilość pustych kart w podanym pliku txt: <strong>{{ getEmptyBankEntriesCount() }}</strong>
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="filename-container">
      <mat-form-field>
        <input matInput
               required="required"
               placeholder="Nazwa pliku z uzupełnionymi kwotami"
               [(ngModel)]="fileNameWithAmounts"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               required="required"
               placeholder="Nazwa pliku z pustymi kartami"
               [(ngModel)]="fileNameWithoutAmounts"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               required="required"
               placeholder="Nazwa pliku do banku"
               [(ngModel)]="fileNameWithBankAccount"/>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            [disabled]="isProcessDisabled()"
            (click)="processCards()">
      Przetwarzaj
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <div class="alert"
         *ngIf="errorMessage">
      <span [innerHTML]="errorMessage">
      </span>
    </div>
  </mat-card-footer>
</mat-card>



