@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  margin: 30px;
}

mat-icon {
  font-size: 40px !important;
  margin-left: 20px;
  position: absolute;
}

.filename-container {
  display: flex;
  flex-direction: column;
}

.filename-container > * {
  width: 100%;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin: 15px;
  font-size: inherit;
}

.center {
  text-align: center;
}
